:root {
    --b-color: #000000;
    --current-pen-color: #91fcbc; 

    
    /* --pen-color-3: #91fcbc;
    --pen-color-4: #91fcbc;
    --pen-color-5: #91fcbc; */


}

body {
    background-color: var(--b-color); 
    font-size: 100%;
    text-align: center; 
    font-family: Helvetica, 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

main {
    position: relative; 
    top: -10px;
    text-align: center; 
    color: #daab1c;
    width: 1380px; 
    margin: auto;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    position: relative;
    top: 10px;
    font-size: 2.2em;
    font-style: italic;
    text-align: left;
}

h3 {
    font-size: 1.2em;
}

table {
    position: relative;
    top: -10px;
    border-spacing: 0px;
    border-collapse: collapse;
    /* background-color: rgba(132, 96, 7, 0.6); */
}

tr {
    padding-bottom: 2em;
}

tr.head {
    text-align: center; 
}


td.label {
    text-align: right; 
    padding-right: 1em;
}

td.slidecontainer {
   text-align: center;
   width: 100px;
}


input {
    text-align: center; 
    background: none; 
    color:#a91535; 
    border: 1px solid #919191;
}

input.error {
    background-color: #fb1905;
}

.checkbox {
    position: relative;
    top: 100px;
}

  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
  /* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #a91535; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #a91535; /* Green background */
    cursor: pointer;
}

button {
    width: 8em; 
    /* height: 1.5em; */
    text-align: center; 
    background: #95530c; 
    color: #f8f8cb; 
    border-color: #f8f8cb; 
    /* background: #950c69; 
    color: #e6cbf8; 
    border-color: #dcbcf2;  */
    border-width: 1px;
    font-size: 24px;
}

#saveButton, #submitButton{
    width: 5em;
}

#resetParamButton {
    position: absolute;
    /* bottom: -10px; */
    width: 10em;
    text-align: center; 
    background: #95530c; 
    color: #f8f8cb; 
    border-color: #f8f8cb; 
    border-width: 1px;
    font-size: 24px;
}

#colors {
    position: relative; 
    left: 0px;
    top: -10px;
    width: 380px; 
    text-align: left;
    /* color: #a91535; */
}

#parameters {
    position: relative; 
    left: 0px; 
    top: -30px;
    width: 480px; 
    text-align: left;
    /* color: #1964c1 */
}

#draw {
    position: relative; 
    top: 0px;
    text-align: left;
    /* color: #dcbb13; */
}

#buttons {
    position: relative; 
    width: 480px; 
    top: -10px;
    font-size: 24px;
}

#topview {
    /* background-color: #721e1e; */
    position: absolute;
    left: 260px;
    top: 500px;
    width: 220px;
    height: 200px;
}

#save {
    position: absolute;
    top: 650px;
    /* color: #338539; */
    /* right: 0px; */
}


#harmonograph {
    /* background-color: #721e1e; */
    position: absolute; 
    top: -500px;
    left: 500px;
    border: 1px solid #919191;
    /* stroke: var(--pen-color-3); */
    stroke: var(--current-pen-color);

}