:root {
    --b-color: #000000;
    /* --b-color: rgba(48, 48, 48, 0.8); */
    /* --text-color: #dcbb13; */
    /* --current-pen-color: #91fcbc; */
    --pen-color-3: #91fcbc;
    --pen-color-4: #91fcbc;
    --pen-color-5: #91fcbc;


}

body {
    /* background-image: url("2021GalaMainBackgroundGraphic.jpg");
    background-size: 50%;
    background-blend-mode: difference; */
    /* color: var(--text-color); */
    background-color: var(--b-color); 
    font-size: 100%;
    text-align: center; 
    font-family: Helvetica, 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

main {
    position: relative; 
    text-align: center; 
    width: 1200px; 
    margin: auto;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    position: relative;
    top: -10px;
    font-size: 2.2em;
    font-style: italic;
    text-align: left;
}

h3 {
    font-size: 1.2em;
}

table {
    position: relative;
    top: -30px;
    /* background-color: rgba(132, 96, 7, 0.6); */
}

tr.head {
    text-align: center; 
    padding-bottom: 1em;
}

td.label {
    text-align: right; 
    padding-right: 1em;
}

input {
    width: 4em; 
    text-align: center; 
    background: none; 
    color:#a940e6; 
    border: 1px solid #919191;
}

input.error {
    background-color: #fb1905;
}

button {
    width: 4em; 
    text-align: center; 
    background: #721e1e; 
    color: #F0F2BC; 
    border-color: #F0F2BC; 
    border-width: 1px;
    font-size: 24px;
}

#saveButton, #submitButton {
    width: 8em;
}

#colors {
    position: relative; 
    left: 0px;
    top: -10px;
    width: 380px; 
    text-align: left;
    color: #a91535;
}

#parameters {
    position: relative; 
    left: 0px; 
    top: -40px;
    width: 380px; 
    text-align: left;
    color: #1553a9;
}

#draw {
    position: relative; 
    text-align: left;
    top: -50px;
    color: #dcbb13;
}

#buttons {
    position: relative; 
    width: 480px; 
    top: -10px;
    font-size: 24px;
}

#harmonograph {
    /* background-color: #721e1e; */
    position: absolute; 
    top: -400px;
    right: -100px;
    border: 1px solid #919191;
    stroke: var(--pen-color-3);
}

#topview {
    position: relative;
    left: 120px;
    top: -490px;
    width: 300px;
}

#save {
    position: relative;
    top: -70px;
    color: #338539;
    /* right: 0px; */
}
/* 
#dropboxButton {
    position: relative;
    left: 100px;
    top: -150px;
    width: 300px;
} */

/* #text {position:absolute; 
    top: 1020px; 
    left: 400px; 
    width: 460px; 
    text-align: left;
} */