:root {
    --b-color: #000000;
    --text-color: #F0F2BC;
    --pen-color: #A1BAAB;
}

body {
    background-color: var(--b-color); 
    color: var(--text-color);
    font-size: 100%;
    text-align: center; 
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

a {
    color: #B99635; 
    text-decoration: none;
}

a:visited {
    color: #B99635;
}

a:hover {
    color: #DA6314;
}

p {
    margin: 0 0 .8em 0
}

h3 {
    font-size: 1.2em;
    /* margin: 1.8em 0 .8em 0; */
}
h2 {
    font-size: 1.8em;
    /* margin: 1.8em 0 .8em 0; */
}

h1 {
    font-size: 3em;
    text-align: center;
    /* margin: 1.8em 0 .8em 0; */
}

table {
    background-color: rgba(44,22,11,0.6);
}

tr.head {
    text-align: center; 
    padding-bottom: 1em;
}

td.label {
    text-align: right; 
    padding-right: 1em;
}

input {
    width: 5em; 
    text-align: center; 
    background: none; 
    color:#F0F2BC; 
    border-color: #F0F2BC; 
    border-width: 1px;
}

input.error {
    background-color: #671008;
}

button {
    width: 5em; 
    text-align: center; 
    background: rgba(88,44,22,0.8); 
    color: #F0F2BC; 
    border-color: #F0F2BC; 
    border-width: 1px;
}

.copy {
    font-size: .8em; 
    color: #5D432F;
}

#frame {
    position: relative; 
    text-align: center; 
    width: 980px; 
    margin: auto;
}

#colors {
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 380px; 
    text-align: left;
}

#settings {
    position: absolute; 
    top: 0px; 
    right: 0px; 
    width: 380px; 
    text-align: left;
}

#draw {
    position: absolute; 
    top: 310px; 
    left: 0px;
    /* right: 100px; */
    text-align: left;
}

#graph {
    position: relative; 
    right: 200px;
    top: 20px;
    text-align: left;
    stroke: var(--pen-color);
}

#buttons {
    position: absolute; 
    top: 110px; 
    width: 480px; 
    text-align: left;
}

#topview {
    position: absolute; 
    top: 500px; 
    left: 580px; 
    width: 300px;
}

#text {position:absolute; 
    top: 1020px; 
    left: 400px; 
    width: 460px; 
    text-align: left;
}