:root {
    --b-color: #000000;
    /* --b-color: rgba(48, 48, 48, 0.8); */
    --text-color: #f59e8e;
    /* --current-pen-color: #91fcbc; */
    --pen-color-3: #91fcbc;
    --pen-color-4: #91fcbc;
    --pen-color-5: #91fcbc;


}

body {
    /* background-image: url("2021GalaMainBackgroundGraphic.jpg");
    background-size: 50%;
    background-blend-mode: difference; */
    background-color: var(--b-color); 
    color: var(--text-color);
    font-size: 100%;
    text-align: center; 
    font-family: Helvetica, 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

main {
    position: relative; 
    text-align: center; 
    width: 1200px; 
    margin: auto;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-style: italic;
}

h3 {
    font-size: 1.2em;
}

table {
    /* background-color: rgba(132, 96, 7, 0.6); */
}

tr.head {
    text-align: center; 
    padding-bottom: 1em;
}

td.label {
    text-align: right; 
    padding-right: 1em;
}

input {
    width: 4em; 
    text-align: center; 
    background: none; 
    color:#cf89f7; 
    border-color: #F0F2BC; 
    border-width: 1px;
}

input.error {
    background-color: #fb1905;
}

button {
    width: 4em; 
    text-align: center; 
    background: #721e1e; 
    color: #F0F2BC; 
    border-color: #F0F2BC; 
    border-width: 1px;
    font-size: 24px;
}

.copy {
    font-size: .8em; 
    color: #5D432F;
}

#save {
    position: relative;
    top: 400px;
    right: 0px;
	float: right;
}

#colors {
    position: relative; 
    left: 0px;
    width: 380px; 
    text-align: left;
}

#parameters {
    position: relative; 
    left: 0px; 
    width: 380px; 
    text-align: left;
}

#draw {
    position: relative; 
    text-align: left;
}

#buttons {
    position: relative; 
    width: 480px; 
    text-align: left;
    font-size: 24px;
}

#harmonograph {
    /* background-color: var(--b-color);  */
    position: absolute; 
    top: -500px;
    right: 0px;
    /* stroke: var(--current-pen-color); */
    stroke: var(--pen-color-3);

}

#topview {
    position: relative;
    left: 100px;
    top: -150px;
    width: 300px;
}
/* 
#dropboxButton {
    position: relative;
    left: 100px;
    top: -150px;
    width: 300px;
} */

/* #text {position:absolute; 
    top: 1020px; 
    left: 400px; 
    width: 460px; 
    text-align: left;
} */